.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 66px;
    z-index: 101;
    padding-top: 5px;
}
.sidebar-link:hover {
    background-color: lightgray;
    cursor: pointer;
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}
.sidebar-link div{
    font-family: arial;
    font-size: 9px;
   
   
}
@media(max-width:1200px){
    .sidebar{
        width: 200px;
    }
    .sidebar-link{
        display: block;
        align-items: center;
        height: 40px;
        padding-left: 30px;
        position: relative;
    }
    .sidebar-link div{
       display: inline-block;
       align-items: center;
       position: absolute;
       top: 8px;
       left: 100px;
       font-size: 11px;
        
        
    }
}